@import "../../styles/variables";

// really useful way of finding the elements that contain some id characters - should consider this approach with rebank
[id*="-note"] {
  border-bottom: $border-gray;
  margin: 0 !important;
  &:hover{
    cursor: pointer;
  }
  .column{
    padding-left: 0 !important;
    &.icon{
      padding-right: 0 !important;
      min-width: 40px;
      i{
        color: $blue;
        border: solid 2px $blue;
        box-shadow: none !important;
        font-size: $font-size-xxl !important;

      }
    }
    &.date{
      text-align: right;
      float: right;
      padding-right: 0 !important;
      p{
        max-width: 60px;
        min-width: 60px;
        float: right;
      }
    }
    &.content{
      padding-right: 0 !important;
      p{
        overflow: hidden;
        position: relative;
        line-height: 1.2rem;
        max-height: 1.2rem;
        // TODO - make this conditional, only trigger if paragraph length is greater than length of screen
        &:after {
          content: '...';
          right: 0;
          bottom: 0;
        }
      }
    }
    p{
      color: $gray-medium-dark;
      font-weight: 400;
      word-break: break-word;
    }
  }
}
