option_settings:
  aws:ec2:vpc:
    VPCId: '`{ "Ref" : "cloud-apps-vpc" }`'
    Subnets:'`{"Ref" : "cloud-apps-private-subnet-1a"}` ,`{"Ref" : "cloud-apps-private-subnet-1b"}`,`{"Ref" : "cloud-apps-private-subnet-1d"}`'
    ELBSubnets:'`{"Ref" : "cloud-apps-public-subnet-1a"}` ,`{"Ref" : "cloud-apps-public-subnet-1b"}`,`{"Ref" : "cloud-apps-public-subnet-1d"}`'