@import "../../styles/variables";

/* start by selecting the parent ID */
nav {
  /* will need a higher res image for screens larger than 1800px*/
  background: url("../../assets/images/nav-background.jpg") no-repeat fixed 100% -50vh;
  background-size: cover;
  height: 270px;
  padding: $space-xlrg;
  h1,p, i{
    color: $white;
  }
  h1, p{
    font-family: $font-family-default;
    font-weight: 300;
  }
  h1{
    font-size: $font-size-mega;
    margin-bottom: $space-xlrg;
    word-spacing: 100vw;
  }
}
