@import "../../styles/variables";

div[id*="-modal"]{
  background: $blue-dark !important;
  .content{
    background: $blue-dark !important;
    color: $white;
  }
  h2{
    text-align: center;
    font-weight: 100;
  }
  .clipboard{
    float: right;
  }
}