@import "../../styles/variables";

/* start by selecting the parent ID */
#navigation{
  /* will need a higher res image for screens larger than 1800px*/
  background: url("../../assets/images/nav-background.jpg");
  background-size: cover;
  background-position: 100% -50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 270px;
  padding: $space-xlrg;
  h1,p, i{
    color: $white;
  }
  h1{
    font-size: $font-size-mega;
    margin-bottom: $space-xlrg;
  }
  h1, p{
    font-family: $font-family-default;
    font-weight: 300;
  }
}
