@import "../../styles/variables";

/* start by selecting the parent ID */
#navigation{
  background: url("../../assets/images/nav-background.jpg");
  background-size: cover;
  background-position: 100% -84vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 270px;
  padding: $space-xlrg;
  h1,p, i{
    color: $white;
  }
  h1{
    font-size: $font-size-xxxl;
    margin-bottom: $space-xlrg;
  }
  p{
    color: $grey-medium-darkish
  }
  h1, p{
    font-family: 'Roboto', sans-serif;
  }
}
