@import "../../styles/variables";

// really useful way of finding the elements that contain some id characters - should consider this approach with rebank
.note {
  border-bottom: $border-gray;
  margin: 0 !important;
  &.error {
    &:hover{
      cursor: initial;
    }
    .column {
      &.icon {
        i {
          color: $red;
          border: solid 2px $red;
        }
      }
    }
  }
  &:hover{
    cursor: pointer;
  }
  .column{
    padding-left: 0 !important;
    &.icon{
      padding-right: 0 !important;
      min-width: 40px;
      i{
        color: $blue;
        border: solid 2px $blue;
        box-shadow: none !important;
        font-size: $font-size-xxl !important;

      }
    }
    &.date{
      text-align: right;
      float: right;
      padding-right: 0 !important;
      p{
        width: 60px;
        float: right;
      }
    }
    &.content{
      padding-right: 0 !important;
      p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    p{
      color: $gray-medium-dark;
      font-weight: 400;
      word-break: break-word;
    }
  }
}
